@font-face {
    font-family: "GraphikLCG";
    src: url("./fonts/GraphikLCG-Regular.woff") format('woff'),
     url("./fonts/GraphikLCG-Regular.woff2") format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "GraphikLCG";
    src: url("./fonts/GraphikLCG-Semibold.woff.woff") format('woff'),
     url("./fonts/GraphikLCG-Semibold.woff2") format('woff2');
    font-weight: 500;
    font-style: normal;
}

:root {
    --bs-font-sans-serf: "GraphikLCG", sans-serif;
    --grey-200: #CCC;
    --white: #fff;
    --black: #000;
    --orange: #FF6336;
    --container-width: 1330px;
    --container-space: 25px;
}

.flex {
    display: flex;
}
.flex-wrap {
    display: flex;
    flex-wrap: wrap;
}

.flex-col {
    flex-direction: column;
}
.justify-between {
    justify-content: space-between;
}
  
.justify-center {
    justify-content: center;
}
  
.items-center {
    align-items: center;
}

.grow-1 {
    flex-grow: 1;
}

.margin-auto {
    margin: 0 auto;
}

.header {
    width: 100%;
    border: 1px solid var(--grey-200);
}

body {
    font-family: "graphikLCG", sans-serif;
    border-color: var(--white);
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
  }
.container {
    max-width: calc(var(--container-width) + var(--container-space) * 2);
    width: 100%;
    padding: 0 var(--container-space);
    margin: 0 auto;
 }

/*header*/

.header__nav-top-links {
    gap: 30px;
    padding: 17px 30px 17px 30px;
}
.txt-head {
    color: var(--black);
    font-family: "GraphikLCG";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

/* new*/

.logo-nav {
    
    display: flex;
    gap: 51px;
    padding-top: 25px;
    padding-bottom: 25px;
    align-items: center;
    position: relative;
}

.header-nav {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.head-btn {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.btn {
  width: 120px;
  height: 45px;
}  


.btn-1 {
    background: var(--white);
    border: 1px solid rgba(0, 0, 0, 0.50);
    color: var(--black);
    text-align: center;
    font-family: "GraphikLCG";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 45px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.btn-1:hover {
    background-color: var(--white);
    color: var(--orange);
}
.btn-or {
    background: var(--orange);
    border: 1px solid var(--orange);
    color: var(--white);
    text-align: center;
    font-family: "GraphikLCG";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 45px;
    cursor: pointer;
    transition: all 0.3s ease;
    padding: 1px 21px 1px 22px;
}

.btn-or:hover {
    background-color: var(--white);
    color: var(--orange);
}






/*main*/

.main-section__content {
   display: flex;
   justify-content: space-between;
   margin-top: 147px;
   margin-bottom: 145x;
}
.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 471px;
    gap: 51px;
}

.maintitle {
    color: var(--black);
    font-family: "GraphikLCG";
    font-size: 65px;
    font-style: normal;
    font-weight: 600;
    line-height: 70px;
}

.maintext {
    color: var(--black);
    font-family: "GraphikLCG";
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 35px;
    margin-right: 68px;
}

.main-btn {
    min-width: 160px;
    min-height: 60px;
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
}
.main-btn-1 {
    color: var(--white);
    text-align: center;
    font-family: "GraphikLCG";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 60px;
    background: var(--orange);
    border: 1px solid var(--orange);
    cursor: pointer;
    transition: all 0.3s ease;
    padding: 1px 41px 1px 42px;
}

.main-btn-1:hover {
    background-color: var(--white);
    color: var(--orange);
}
.main-btn-2 {
    color: var(--black);
    background-color: var(--white);
    text-align: center;
    font-family: "GraphikLCG";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 60px;
    border: 1px solid var(--black);
    cursor: pointer;
    transition: all 0.3s ease;
    padding: 0px 28px;
}
.main-btn-2:hover {
    background-color: var(--white);
    color: var(--orange);
}

.main-txt {
    color: var(--black);
    font-family: "GraphikLCG";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
}

.main-photo {
    width: 100%;
    height: auto;
    object-fit: cover;
}
  
.second {
    background: #FF9C7D;
}
.or-txt {
    color: var(--black);
    text-align: center;
    font-family: "GraphikLCG";
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    line-height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 182px;
    padding: 98px 0px 70px 0px;
}
.icon {
    display: flex;
    padding-bottom: 94px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}




/* third-section */
.third-main {
    margin-top: 100px;
}
.third-section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    min-height: 100vh;
    padding: 70px 0;
}
  
.h2-third {
    color: var(--black);
    font-family: "GraphikLCG";
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    line-height: 54px;
    margin-bottom: 30px;
}
.h2-third:nth-child(.h2-third:nth-child(odd)) {
    text-align: left;
}
.h2-third:nth-child(even) {
    text-align: right;
}
  .third-p {
    color: var(--black);
    font-family: "GraphikLCG";
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 30px;
  }
  
.third-link {
    color: var(--black);
    font-family: "GraphikLCG";
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    text-decoration: none;
}
.third-section-new {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    padding: 70px 0px;
}
.third-content {
    width: 440px;
    height: 240px;
    background: var(--white);
    padding: 0px 20px 20px 20px;
}
.third-text {
    width: 500px;
    height: 300px;
}
.php-txt {
    font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 30px;
    display: flex;
    text-align: left;

}
.php {
    color: var(--black);
    font-family: "GraphikLCG";
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    margin: -60px;
    margin-left: 10px;
}

.border-be {
    border: 66px solid #FFF8E4;
}


.underline {
    color: var(--black);
font-family: "GraphikLCG";
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 30px;
text-decoration-line: underline;
}


/*bezh*/
.bezh {
    background: #FFF8E4;
}
.bezh-txt {
    color: var(--black);
    text-align: center;
    font-family: "GraphikLCG";
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    line-height: 60px;
    padding-top: 120px;
    gap: 78px;
}

.page-wrap {
    min-height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.card-wrap {
    display: flex;
    max-width: 890px;
    justify-content: space-between;
    list-style: none;
    flex-wrap: wrap;
    gap: 30px;
    margin: 0 auto;
}
.card {
    width: 219px;
    border-radius: 32px;
    box-shadow: 0px 0px 8px 0px rgba(255, 255, 255, 0.30) inset;
    backdrop-filter: blur(64px);
    padding: 26px 35px 18px;
    display: flex;
    flex-direction: column;
    transition: all .3s ease;
    cursor: pointer;
}

.card:hover {
    transform: translate(-4px, 5px);
    box-shadow: 2px 5px 9px 2px #3f3d3d;
}
.card-img {
    margin-bottom: 20px;
}

.card-title {
    color: var(--black);
    text-align: center;
    font-family: "GraphikLCG";
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: 35px;
}
.card-text {
    color: var(--black);
    text-align: center;
    font-family: "GraphikLCG";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
}

/*white*/
.card-goods {
    background-color: var(--white);
    border-radius: 1px;
    padding: 25px 30px 25px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.card-goods-wrap {
    gap: 30px;
    padding-left: 50px;
    padding-right: 50px;
    border: 80px solid var(--gray-200);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}
.wtcard {
    color: var(--black);
    font-family: "GraphikLCG";
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    line-height: 60px;
    margin-top: 154px;
    margin-bottom: 25px;
    text-align: center;
}
.h3wh {
    color: var(--black);
    font-family: "GraphikLCG";
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
}
.txt-card-wh {
    color: var(--black);
    font-family: "GraphikLCG";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
.white-txt {
    color: var(--black);
    font-family: "GraphikLCG";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 150% */
    text-decoration-line: underline;
}
/*blue*/
.blue {
    background: #C9E8F2;
}
.man {
    width: 310px;
    max-width: 100%;
    height: 310px;
    max-height: 100%;
    padding: 65px;
    float: right;
}
.content-bl {
    padding: 65px 0px 165px 0px;
    gap: 25px;
}
.blue-ft {
    color: var(--black);
    font-family: "GraphikLCG";
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    margin-bottom: 23px;
}
.blue-st {
    color: var(--black);
    font-family: "GraphikLCG";
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
}
.bp {
    width: 115.216px;
    height: 25px;
}

/*brown*/


/* brown-3*/
.brown-3 {
    width: 100%;
    background: #DABC98;
}
.brown-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.brown-left-3 {
    display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 69px;
  margin-bottom: 80px;
}
.brown-h2-3 {
    color: var(--black);
    font-family: "GraphikLCG";
    font-size: 35px;
    font-weight: 600;
    font-style: normal;
    line-height: 39px;
    padding-left: 67px;
}
.brown-right-3 {
    display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 79px;
  margin-bottom: 80px;
  border-left: 1px solid var(--black);
}
.brown-right-cards-wrap-3 {
    padding-left: 70px;
}
.star-3 {
  padding-top: 20px;
  padding-bottom: 14px;
  max-width: 128px;
}
.card-brown-3 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.txt-brown {
    color: var(--black);
    font-family: "GraphikLCG";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 166.667% */
    letter-spacing: 0.75px;
}

/*bird*/
.bird {
    background: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}
.bird-h2 {
    color: var(--black);
text-align: center;
font-family: "GraphikLCG";
font-size: 65px;
font-style: normal;
font-weight: 600;
line-height: 75px;
margin-top: 162px;
}
.bird-txt {
    color: var(--black);
text-align: center;
font-family: "GraphikLCG";
font-size: 25px;
font-style: normal;
font-weight: 400;
line-height: 30px;
}
.bird-photo-cont {
    display: flex;
    align-items: center;
    width: 100%;
}
.bird-photo {
    max-width: 100%;
    height: auto
}
.bird-btn {
    color: var(--white);
text-align: center;
font-family: "GraphikLCG";
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 60px; /* 375% */
background: #FF6336;
border: 1px solid var(--orange);
cursor: pointer;
transition: all 0.3s ease;
display: flex;
padding: 1px 20px 1px 20px;
justify-content: center;
min-width: 193px;
max-height: 60px;
}
.bird-btn:hover {
    background-color: var(--white);
    color: var(--orange);
}
.btn-cont-bird {
    margin-top: 32px;
    margin-bottom: 120px;
    display: flex;
    justify-content: center;
}
/*orange*/
.orange-new {
    background: #FF9C7D;
    display: flex;
    justify-content: center;
    align-items: center;
}
.or-new-h2 {
    color: #000;
text-align: center;
font-family: "GraphikLCG";
font-size: 65px;
font-style: normal;
font-weight: 600;
line-height: 75px;
margin-top: 119px;
}
.or-new-txt {
    color: #000;
    font-family: "GraphikLCG";
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 150% */
    margin-top: 29px;
    margin-bottom: 54px;
}
.black-btn {
    color: #FFF;
text-align: center;
font-family: "GraphikLCG";
font-size: 17px;
font-style: normal;
font-weight: 600;
line-height: 60px;
background: #000;
width: 160px;
height: 60px;
}
.btn-cont {
    margin-top: 54px;
    margin-bottom: 161px;
    display: flex;
    justify-content: center;
}

/*footer*/

.footer {
    background: #EEE;
}
.footer-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #EEE;
    border-radius: 1px;
    padding: 25px 30px 25px 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.content-footer {
    border-bottom: 1px solid var(--black);
    padding-top: 97px;
}
.titlelist-main {
    color: #000;
font-family: "GraphikLCG";
font-size: 40px;
font-style: normal;
font-weight: 600;
line-height: 50px;
}
.txt-end-1 {
    color: #000;
font-family: "GraphikLCG";
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 30px;
}
.txt-end-2 {
    color: #000;
font-family: "GraphikLCG";
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 30px;
padding-bottom: 95px;
}

.no-last {
    display: flex;
    justify-content: flex-start;
    width: 80px;
    height: 32px;
}

.card-goods-sc:first-child {
    padding-left: 75 px;
}
.titlelist {
    color: #000;
font-family: "GraphikLCG";
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 25px;
}

.txt-end {
    color: #000;
font-family: "GraphikLCG";
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 15px;
}

.card-goods-sc {
    display: flex;
    flex-direction: column;
    text-align: left;
    flex-wrap: wrap;
    padding-bottom: 60px;
    padding-top: 21px;
    padding-right: 24px;
    gap: 15px;
}
.card-goods-sc:first-child {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 370px;
}
.fimg {
    width: 100%;
    max-width: 300px;
    max-height: 300px;
    border: 1px solid #000;
}
.txt-ff {
    color: #000;
font-family: "GraphikLCG";
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 15px;
}
.txt-fsec {
    color: #000;
font-family: "GraphikLCG";
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 15px;
}
.last {
    padding-left: 75px;
}
.last-content {
    padding-top: 50px;
    padding-bottom: 45px;
}





